

.form {
    background-image: url(/balloon-sky.webp);
    height: 100vh;
    width: 100%;


}

.form {
    color:solid black;
    font-size: x-small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.form input{
    border-radius: 12px;
    border: #00a0d6;

}
.st {
    display: flex;
    gap: 150px;
    padding-left: 5%;
    padding: 1%;
}

.st .name1 {
    display: flex;
    flex-direction: column;
    padding-left: 4%;

}

.name1 input {

    color: grey;
    height: 5vh;
    width: 120%;

}


.name2 {
    display: flex;
    flex-direction: column;
    font-size: larger;
}

.name2 input {

    height: 5vh;
    width: 120%;

}


.pas {
    display: flex;
    gap: 150px;
    padding-left: 5%;

}

.pas1 {
    display: flex;
    flex-direction: column;

}

.pas1 input {

    height: 5vh;
    width: 120%;
}

.pas2 {}

.pas2 input {

    height: 5vh;
    width: 120%;
}

.ad {
    padding-left: 0%;
}

.form input {



    background-color: white;
    font-size: small;

    text-align: center;



}

.pas2 {
    display: flex;
    flex-direction: column;
}

.eid {
    display: flex;
    gap: 150px;
    padding-left: 5%;

}

.mai {
    display: flex;
    flex-direction: column;

}

.mai input {

    height: 5vh;
    width: 120%;
}

.ph {
    display: flex;
    flex-direction: column;
}

.ph input {

    height: 5vh;
    width: 120%;
}

.dt {
    display: flex;
    gap: 155px;
    padding-left: 5%;

}

.ad input {
    padding: 0;
    padding-left: 1%;
}

.dob {
    display: flex;
    flex-direction: column;

}

.dob input {
    width: 197%;

    height: 5vh;

}

.ad {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}

.ad input {

    height: 5vh;
    width: 120%;
}

.sta {
    display: flex;
    gap: 150px;
    padding-left: 5%;

}

.state {
    display: flex;
    flex-direction: column;
}

.state input {

    height: 5vh;
    width: 120%;
}

.co {
    display: flex;
    flex-direction: column;
}

.co input {

    height: 5vh;
    width: 120%;
}

.gen {
    display: flex;
    padding: 1%;

}




.bt button {
    height: 5vh;
    width: 20%;
    background-color: #00a0d6;
    border-radius: 5px;
    border: none;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;



}

.bt {
    padding-left: 18%;
    padding-top: 2%;
}

.mal {
    display: flex;
    gap: 2%;
}
.gen {
    display: flex;
    padding: 1%;
    padding-left: 6%;
}
.gen input{
    height: 4vh;
}


















/* ----------------------------- */
 @media(max-width:850px) {
    .ad {
        display: flex;
        flex-direction: column;
        padding-left: 9%;
    }

    .bt {
        padding-left: 33%;
        padding-top: 2%;
    }

    .bt {
        padding-left: 33%;
        padding-top: 2%;
    }
    .dt {
        display: flex;
        gap: 155px;
        padding-left: 10%;}
}

@media(max-width:700px) {
    .gen {
        display: flex;
        padding: 2%;
        padding-left: 6%;
    }

    .ad {
        display: flex;
        flex-direction: column;
        padding-left: 10%;
    }
    
.dt {
    display: flex;
    gap: 155px;
    padding-left: 7%;
}
}
@media(max-width:650px){
    .st {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-left: 5%;
        padding: 0%;
        align-items: center;
        text-align: center;
    }
    .pas {
        display: flex;
        gap: 10px;
        padding-left: 0;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .eid {
        display: flex;
        gap: 10px;
        padding-left: 0;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }
    .dt {
        align-items: center;
        display: flex;
        gap: 10px;
        padding-left: 0;
        flex-direction: column;
        align-items: center;
    }
    .sta {
        display: flex;
        gap: 10px;
        padding-left: 0;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .gen {
        display: flex;
        padding: 2%;
        padding-left: 36%;}
        .bt {
            padding-left: 45%;
            padding-top: 2%;
        }
        .bt button {
            height: 5vh;
            width: 30%;}
            .form {
                background-image: url(/balloon-sky.webp);
                height: 162vh;
                width: 100%;
            background-size: cover;
            }
                .dt {
                    align-items: center;
                    display: flex;
                    gap: 10px;
                    padding-left: 0;
                    flex-direction: column;
                    align-items: center;
                    padding-right: 9%;
                }
                .st .name1 {
                    display: flex;
                    flex-direction: column;
                    padding-left: 0%;
                }
}
@media(max-width:500px){
    .dt {
        align-items: center;
        display: flex;
        gap: 10px;
        padding-left: 0;
        flex-direction: column;
        align-items: center;
        padding-right: 9%;
        text-align: center;
    }
    .dob {
        display: flex;
        flex-direction: column;
        padding-right: 4%;
    }
}
 @media(max-width:400px){
    .dob {
        display: flex;
        flex-direction: column;
        padding-right: 7%;
    }
    .bt button {
        height: 5vh;
        width: 64%;
    }
    .bt {
        padding-left: 37%;
        padding-top: 2%;}
        .gen {
            display: flex;
            padding: 5%;
            padding-left: 30%;
        }
        .form {
            background-image: url(/balloon-sky.webp);
            height: 155vh;
            width: 100%;
        }
        .form {
            background-image: url(/balloon-sky.webp);
            height: 155vh;
            width: 100%;
            background-size: cover;
        }
        .form input {
            background-color: white;
            font-size: small;
            text-align: center;
            align-items: center;
            width: 200px;
        }
        .dob {
            display: flex;
            flex-direction: column;
            padding-right: 0%;
            padding-left: 14%;
        }
        .bt button {
            height: 5vh;
            width: 53%;
        }
        .gen {
            display: flex;
            padding: 5%;
            padding-left: 28%;
            margin-right: 9%;
        }
 }
 @media(max-width:350px){

    .dob {
        display: flex;
        flex-direction: column;
        padding-right: 10%;

    }
    .dob input {
        width: 210%;
        height: 5vh;
        padding-left: 0%;
        margin-left: -5%;}
        .bt button {
            height: 5vh;
            width: 64%;
        }
        .bt {
            padding-left: 37%;
            padding-top: 2%;}
            .gen {
                display: flex;
                padding: 5%;
                padding-left: 30%;
            }
            .form {
                background-image: url(/balloon-sky.webp);
                height: 155vh;
                width: 100%;
                background-size: cover;
            }
            .form input {
                background-color: white;
                font-size: small;
                text-align: center;
                align-items: center;
                width: 200px;
            }
            .dob {
                display: flex;
                flex-direction: column;
                padding-right: 0%;
                padding-left: 14%;
            }.bt button {
                height: 5vh;
                width: 53%;
            }
            .gen {
                display: flex;
                padding: 5%;
                padding-left: 28%;
                margin-right: 9%;
            }
 }


